<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>slides</key>
	<array>
		<dict>
			<key>ipad_image_portrait</key>
			<string>https://github.com/SpiralizedMag/TastyBytes/blob/master/images/TastyBytesBanneriPadPortrait%402x.jpg?raw=true</string>
			<key>ipad_image_landscape</key>
			<string></string>
			<key>iphone_image</key>
			<string>https://raw.githubusercontent.com/SpiralizedMag/TastyBytes/master/images/TastyBytesBanneriPhone%402x.jpg</string>
			<key>action</key>
			<dict>
				<key>actionIdentifier</key>
				<string>toWebBrowser</string>
				<key>actionParameter</key>
				<string></string>
			</dict>
		</dict>
		<dict>
			<key>ipad_image_portrait</key>
			<string></string>
			<key>ipad_image_landscape</key>
			<string></string>
			<key>iphone_image</key>
			<string></string>
			<key>action</key>
			<dict>
				<key>actionIdentifier</key>
				<string>toWebBrowser</string>
				<key>actionParameter</key>
				<string>http://codecanyon.net/item/newsstandtemplate-v20-with-inapp-purchases/8046271?WT.ac=portfolio&amp;WT.z_author=t0rn</string>
			</dict>
		</dict>
	</array>
	<key>App_Title</key>
	<string>Tasty Bytes Magazine</string>
	<key>publications</key>
	<array>
		<dict>
			<key>productId</key>
			<string></string>
			<key>date</key>
			<date>2020-09-15T00:01:00Z</date>
			<key>title</key>
			<string>Fall 2020</string>
			<key>description</key>
			<string>Fall Bytes.</string>
			<key>coverURL</key>
			<string>https://github.com/SpiralizedMag/TastyBytes/blob/master/images/Cover_Fall_20.jpg?raw=true</string>
			<key>fileURL</key>
			<string>https://github.com/SpiralizedMag/TastyBytes/blob/master/PDF/TastyBytes_Fall_2020_opt.pdf?raw=true</string>
		</dict>
		<dict>
			<key>productId</key>
			<string></string>
			<key>date</key>
			<date>2020-05-15T00:01:00Z</date>
			<key>title</key>
			<string>Summer 2020</string>
			<key>description</key>
			<string>Summer Bytes.</string>
			<key>coverURL</key>
			<string>https://github.com/SpiralizedMag/TastyBytes/blob/master/images/Cover_Summer_20.jpg?raw=true</string>
			<key>fileURL</key>
			<string>https://github.com/SpiralizedMag/TastyBytes/blob/master/PDF/TastyBytes_Summer_2020_opt.pdf?raw=true</string>
		</dict>
		<dict>
			<key>productId</key>
			<string></string>
			<key>date</key>
			<date>2020-02-15T00:01:00Z</date>
			<key>title</key>
			<string>Spring 2020</string>
			<key>description</key>
			<string>Spring Bytes.</string>
			<key>coverURL</key>
			<string>https://github.com/SpiralizedMag/TastyBytes/blob/master/images/Cover_Spring_20.jpg?raw=true</string>
			<key>fileURL</key>
			<string>https://github.com/SpiralizedMag/TastyBytes/blob/master/PDF/TastyBytes_Spring_2020_opt.pdf?raw=true</string>
		</dict>
		<dict>
			<key>productId</key>
			<string></string>
			<key>date</key>
			<date>2019-11-13T12:34:39Z</date>
			<key>title</key>
			<string>Winter 2019</string>
			<key>description</key>
			<string>Winter Bytes.</string>
			<key>coverURL</key>
			<string>https://github.com/SpiralizedMag/TastyBytes/blob/master/images/Cover_Winter_19.jpg?raw=true</string>
			<key>fileURL</key>
			<string>https://github.com/SpiralizedMag/TastyBytes/blob/master/PDF/TastyBytes_Winter_2019_opt.pdf?raw=true</string>
		</dict>
		<dict>
			<key>productId</key>
			<string></string>
			<key>date</key>
			<date>2019-08-13T12:34:39Z</date>
			<key>title</key>
			<string>Fall 2019</string>
			<key>description</key>
			<string>Fall Bytes.</string>
			<key>coverURL</key>
			<string>https://github.com/SpiralizedMag/TastyBytes/blob/master/images/Cover_Fall_19.jpg?raw=true</string>
			<key>fileURL</key>
			<string>https://github.com/SpiralizedMag/TastyBytes/blob/master/PDF/TastyBytes_Fall_2019_opt.pdf?raw=true</string>
		</dict>
		<dict>
			<key>productId</key>
			<string></string>
			<key>date</key>
			<date>2019-05-14T12:34:39Z</date>
			<key>title</key>
			<string>Summer 2019</string>
			<key>description</key>
			<string>Summer Bytes.</string>
			<key>coverURL</key>
			<string>https://github.com/SpiralizedMag/TastyBytes/blob/master/images/Cover_Summer_19.jpg?raw=true</string>
			<key>fileURL</key>
			<string>https://github.com/SpiralizedMag/TastyBytes/blob/master/PDF/TastyBytes_Summer_2019_opt.pdf?raw=true</string>
		</dict>
		<dict>
			<key>productId</key>
			<string></string>
			<key>date</key>
			<date>2019-02-14T12:34:39Z</date>
			<key>title</key>
			<string>Spring 2019</string>
			<key>description</key>
			<string>Spring Bytes.</string>
			<key>coverURL</key>
			<string>https://github.com/SpiralizedMag/TastyBytes/blob/master/images/Cover_Spring_19.jpg?raw=true</string>
			<key>fileURL</key>
			<string>https://github.com/SpiralizedMag/TastyBytes/blob/master/PDF/TastyBytes_Spring_2019_opt.pdf?raw=true</string>
		</dict>
		<dict>
			<key>productId</key>
			<string></string>
			<key>date</key>
			<date>2018-11-13T12:34:39Z</date>
			<key>title</key>
			<string>Winter 2018</string>
			<key>description</key>
			<string>Winter Bytes.</string>
			<key>coverURL</key>
			<string>https://github.com/SpiralizedMag/TastyBytes/blob/master/images/Cover_Winter_18.jpg?raw=true</string>
			<key>fileURL</key>
			<string>https://github.com/SpiralizedMag/TastyBytes/blob/master/PDF/TastyBytes_Winter_2018_opt.pdf?raw=true</string>
		</dict>
		<dict>
			<key>productId</key>
			<string></string>
			<key>date</key>
			<date>2017-11-15T12:34:39Z</date>
			<key>title</key>
			<string>Fall 2018</string>
			<key>description</key>
			<string>Fall Bytes.</string>
			<key>coverURL</key>
			<string>https://github.com/SpiralizedMag/TastyBytes/blob/master/images/Cover_Fall_18.jpg?raw=true</string>
			<key>fileURL</key>
			<string>https://github.com/SpiralizedMag/TastyBytes/blob/master/PDF/TastyBytes_Fall_%202018_opt.pdf?raw=true</string>
		</dict>
		<dict>
			<key>productId</key>
			<string></string>
			<key>date</key>
			<date>2017-11-15T12:34:39Z</date>
			<key>title</key>
			<string>Summer 2018</string>
			<key>description</key>
			<string>Summer Bytes.</string>
			<key>coverURL</key>
			<string>https://github.com/SpiralizedMag/TastyBytes/blob/master/images/Cover_Summer_18.jpg?raw=true</string>
			<key>fileURL</key>
			<string>https://github.com/SpiralizedMag/TastyBytes/blob/master/PDF/TastyBytes_Summer_2018_opt.pdf?raw=true</string>
		</dict>
		<dict>
			<key>productId</key>
			<string></string>
			<key>date</key>
			<date>2017-11-15T12:34:39Z</date>
			<key>title</key>
			<string>Spring 2018</string>
			<key>description</key>
			<string>Spring Bytes.</string>
			<key>coverURL</key>
			<string>https://github.com/SpiralizedMag/TastyBytes/blob/master/images/Cover_Spring_18.jpg?raw=true</string>
			<key>fileURL</key>
			<string>https://github.com/SpiralizedMag/TastyBytes/blob/master/PDF/TastyBytes_Spring_2018_opt.pdf?raw=true</string>
		</dict>
		<dict>
			<key>productId</key>
			<string></string>
			<key>date</key>
			<date>2017-11-15T12:34:39Z</date>
			<key>title</key>
			<string>Winter 2017</string>
			<key>description</key>
			<string>Winter Bytes.</string>
			<key>coverURL</key>
			<string>https://github.com/SpiralizedMag/TastyBytes/blob/master/images/Cover_Winter_17.jpg?raw=true</string>
			<key>fileURL</key>
			<string>https://github.com/SpiralizedMag/TastyBytes/blob/master/PDF/TastyBytes_Winter_2017_opt.pdf?raw=true</string>
		</dict>
		<dict>
			<key>productId</key>
			<string></string>
			<key>date</key>
			<date>2017-05-15T12:34:39Z</date>
			<key>title</key>
			<string>Fall 2017</string>
			<key>description</key>
			<string>Fall Bytes.</string>
			<key>coverURL</key>
			<string>https://github.com/SpiralizedMag/TastyBytes/blob/master/images/TastyBytesCover.jpg?raw=true</string>
			<key>fileURL</key>
			<string>https://github.com/SpiralizedMag/TastyBytes/blob/master/PDF/TastyBytesMag.pdf?raw=true</string>
		</dict>
		<dict>
			<key>productId</key>
			<string></string>
			<key>date</key>
			<date>2017-05-15T12:34:39Z</date>
			<key>title</key>
			<string>Terms</string>
			<key>description</key>
			<string>Privacy Policy and Terms of Use</string>
			<key>coverURL</key>
			<string>https://github.com/SpiralizedMag/TastyBytes/blob/master/images/Privacy.jpg?raw=true</string>
			<key>fileURL</key>
			<string>https://github.com/SpiralizedMag/TastyBytes/blob/master/PDF/Privacy_Terms%20of%20Use.pdf?raw=true</string>
		</dict>
	</array>
</dict>
</plist>
